.shop_hero{
      background-image: url("../../images/shop_hero.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 330px;
      display: flex;
      align-items: center;
}
.shop_hover{
      top: 0%;
      right: 5%;
      opacity: 0;
      color: black;
      transition: .3s all linear;
}
.product_icon_h:hover .shop_hover{
      opacity: 1;
      cursor: pointer;
}