.contact_hero {
  background-image: url("../../images/contact_hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 350px;
  display: flex;
  align-items: center;
}
.together_data {
  width: 240px;
  box-shadow: 0px 12px 19px 0px #c9c9c940;
}
.together_data_icon {
  width: 50px;
  height: 50px;
  background-color: #f4f4f4;
}

.location_inner {
  top: 50%;
  width: 400px;
  right: 15%;
  -ms-transform: translatey(-50%);
  transform: translatey(-50%);
}
.form_border{
      border: 2px solid #7eb693;
}
.form_border:focus{
      outline: none;
}


@media (max-width: 1199px) {
  .location_inner_left img {
    height: 500px;
  }
}
@media (max-width: 767px) {
  .location_inner {
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    transform: translatey(-0%);
  }
}
@media (max-width: 767px) {
  .location_inner {
    padding: 30px !important;
  }
}
@media (max-width: 450px) {
  .location_inner {
    width: 280px;
    padding: 20px 10px !important;
  }
}
